* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333;
  font-size: 20px;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-top: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url(./images/banner.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.header-container {
  position: relative;
  color: white;
}
.head-txt h2 {
  position: absolute;
  text-align: center;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-txt p {
  position: absolute;
  text-align: center;
  top: 55vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  position: absolute;
  text-align: center;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  padding: 10px;
  border: none;
  font-weight: 700;
  background-color: #ff6f61;
  border-radius: 5px;
  color: #f4f4f4;
}

.btn:hover {
  background-color: #dc2e1e;
  cursor: pointer;
  transition: 780ms;
}

.about {
  width: 80%;
  text-align: start;
  margin: 60px auto;

  background-color: white;
}

.abt-head {
  margin-left: 56px;
}
.abt-p {
  margin-left: 56px;
}
section {
  margin: 40px 0;
  padding: 20px;
}
.classes {
  background-color: #f4f4f4;
  padding: 40px 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.classes-heading {
  margin: 15px 210px;
}

.cards-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 60px;
}

.card-items {
  background-color: white;
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}
.card-image {
  position: relative;
  width: 90%;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
}
.discount {
  display: inline;
  position: absolute;
  background-color: white;
  color: #dc2e1e;
  width: 80px;
  height: 50px;
  z-index: 10;
  margin: 20px;
  padding: 12px 20px;
}
.discount > p {
  font-weight: 700;
  font-size: 15px;
}
.card-txt {
  padding: 10px;
}

.card-txt > p {
  font-size: 15px;
  margin-left: 15px;
}

.card-txt > h3 {
  margin-left: 10px;
}

.schedule {
  position: relative;
  text-align: start;
  margin-left: 210px;
}
.contact-text {
  position: relative;
  text-align: start;
  margin-left: 210px;
}

table,
tr,
th,
td {
  border-bottom: 1px solid #e2e0e0;
  text-align: start;
  border-collapse: collapse;
}

table td {
  width: 400px;
  padding: 15px;
}

table th {
  padding: 15px;
}

.contact {
  background-color: #f4f4f4;
  height: 550px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  background-color: #333;
  color: white;
  width: 30%;
  height: 350px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 5px;
  gap: 10px;
}

form > input,
textarea {
  width: 90%;
  margin-left: 20px;
  padding: 10px 0pc;
}

form > label {
  margin-left: 20px;
}

form label:first-of-type {
  margin-top: 25px;
}

form > textarea:focus,
input:focus {
  outline: none;
  border: 2px solid #ff6f61;
}

.btn-form {
  font-weight: 700;
  background-color: #ff6f61;
  border-radius: 5px;
  color: #f4f4f4;
  padding: 10px;
  margin-left: 20px;
  border: none;
}
.btn-form:hover {
  background-color: #dc2e1e;
  cursor: pointer;
  transition: 780ms;
}

footer {
  background-color: #ff6f61;
  color: white;
  text-align: center;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding-top: 5px;
}
