* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-top: 0;
}

.nav_section {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./starter-files/images/image-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}
.nav_section .nav_wrapp {
  display: flex;
  justify-content: space-between;
}

.nav_wrapp > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 30px;
  margin-top: 20px;
  color: rgb(149, 146, 146);
  opacity: 0.7;
}

.nav_wrapp ul > li:hover {
  opacity: 1;
  color: rgb(255, 254, 254);
  cursor: pointer;
}
.hamburger-menu {
  display: none;
}

.nav_wrapp > h3 {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
  opacity: 0.7;
}

.nav_txt {
  width: 25%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.nav_txt .title_txt {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  border: 1px solid white;
  padding: 15px 40px;
  border-radius: 5px;
}

.btn a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.intro_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0px;
}
.intro_section .intro_txt {
  width: 40%;
  text-align: center;
}

.intro_section .intro_txt > .intro_title {
  font-size: 20px;
  font-weight: bold;
}
.img_wrap {
  width: 30%;
  height: 20%;
}

.img_wrap > img {
  height: 250px;
  width: 260px;
  border-radius: 50%;
}
.info_section {
  background-color: #302d2d;
  height: 110vh;
}

.sec_head {
  text-align: center;
  padding-top: 30px;
}

.sec_head > p:nth-of-type(1) {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.sec_head > p:nth-of-type(2) {
  color: white;
  color: white;
  opacity: 0.4;
}

.sec_head .border {
  border: 1px solid white;
  width: 5%;
  margin: 0 auto;
}
.card_section {
  display: flex;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
.card_wrapp {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_wrapp .card_items {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  height: 70%;
}

.card_items > .card_content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_content > i {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 24px;
}

.card_content > .desc {
  color: white;
  opacity: 0.4;
}

.form_wrap {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.form_wrap form > input {
  width: 25%;
  height: 30px;
  padding: 15px;
  border: 1px solid rgb(152, 147, 147);
  border-radius: 5px;
}

.sub-btn {
  background-color: #007bff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
}

.sub-btn:hover {
  background-color: #0056b3;
  cursor: pointer;
}
.sub-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

footer {
  background-color: #302d2d;
  color: white;
  text-align: center;
  padding: 20px;
}

footer .icon_wrapp > i {
  margin-left: 15px;
}

footer .icon_wrapp > i:hover {
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .hamburger-menu {
    display: inherit;
  }
  .nav_wrapp > ul > li:not(:last-child) {
    display: none;
  }
  .nav_txt {
    width: 80%;
  }
  .intro_section {
    flex-direction: column;
  }

  .img_wrap {
    width: auto;
  }
  .sec_head {
    text-align: center;
    width: 100%;
  }
  .info_section {
    min-height: auto;
    height: auto;
  }
  .card_wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card_wrapp .card_items {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .card_items > .card_content {
    width: 100%; /* Ensures content inside takes full width */
  }
  .form_wrap form > input {
    width: 80%;
  }
}
