@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as var;
@use "sass:math";

.nav-wrap {
  width: 20%;
  position: fixed;
  z-index: 999; // Makes sure it is layered above other elements
  background: var.$background-color-base;
  @include mixins.tablet-styles {
    width: 100%;
    min-height: 50px;
    display: flex;
  }
}

.center-wrap {
  width: var.$width-base;
  margin: 0 auto;
  @include mixins.tablet-styles {
    width: 100%;
    height: 50px;
  }
  h2 {
    text-transform: uppercase;
    padding: 40px 0px;
    font-weight: var.$font-weight-normal;
    color: var.$text-color-secondary;
    @include mixins.tablet-styles {
      padding: 0px;
      margin: 0;
    }
  }
}

.hamburger-menu {
  visibility: hidden;
  @include mixins.tablet-styles {
    visibility: visible;
    padding-top: 10px;
  }
}
.tablet-nav {
  @include mixins.tablet-styles {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
}

ul {
  margin: 0;
  padding: 0;
  @include mixins.tablet-styles {
    display: none;
  }

  li {
    list-style: none;
    padding: 6px 0px;

    a {
      text-decoration: none;
      color: var.$text-color-secondary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyright-wrap {
  padding-top: 150px;
  @include mixins.tablet-styles {
    display: none;
  }

  p {
    font-weight: var.$font-weight-normal;
    color: var.$text-color-secondary;
    font-size: small;

    span {
      font-weight: var.$font-weight-bold;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
